/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Roboto-Light;
  src: url('../fonts/roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-Italic;
  src: url('../fonts/roboto/Roboto-Italic.ttf');
}

@font-face {
  font-family: Roboto-Medium;
  src: url('../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto-Bold;
  src: url('../fonts/roboto/Roboto-Bold.ttf');
}


/*//////////////////////////////////////////////////////////////////
[ LAPORAN ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 0px !important;
  text-shadow: none !important;
  font-family: Roboto-Regular,
    sans-serif;
  font-weight: normal;
  color: #000;
}

body,
html {
  font-family: Roboto-Regular, sans-serif;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: Roboto-Bold, sans-serif;
}

h3 {
  font-size: 14pt;
}

h4 {
  font-size: 10pt;
}

p {
  font-family: Roboto-Regular, sans-serif;
  font-size: 10pt;
  line-height: 1.2;
  margin: 0px;
}

h4 {
  line-height: 1.5 !important;
}

b,
strong,
label,
th,
.t-bold {
  font-weight: normal;
  font-family: Roboto-Medium;
}

i {
  font-family: Roboto-Italic, sans-serif;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

ol>li {
  list-style-type: decimal;
}

.container {
  margin: 10px auto;
  width: 100%;
}

.header {
  font-family: Roboto-Bold;
  text-align: center;
  width: 100%;
  padding-left: 100px;
  padding-bottom: 5px;
  text-transform: uppercase
}

.header-struk {
  font-family: Roboto-Bold;
  width: 100%;
  margin-left: 150px;
  padding-bottom: 5px;
  text-transform: uppercase
}

th {
  text-align: center;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

tr {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

td {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

table {
  border: 1px solid #000;
}

th,
td {
  padding: 4px 5px;
  font-size: 10pt !important;
}

hr {
  border: 2px solid #000;
}

.img-lunas {
  width: 500px;
  position: absolute;
  top: 25%;
  left: 25%;
}

.img-stempel {
  width: 150px;
  position: absolute;
  top: 30%;
  left: 35%;
}

.img-header {
  width: 55px;
  position: absolute;
  top: 0;
  left: 6%;
}

.ttd {
  padding-top: 50px;
  margin: 0;
  text-align: center;